* {
    padding: 0;
    box-sizing: border-box;
}

// rotate, translate, scale, skew, matrix

.block {
    width: 250px;
    height: 200px;
    // background-color: palevioletred;
    border: 4px solid black;
    border-radius: 15px;
    background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png);
    background-size: cover;

    position: relative;

    // transform: rotate(30deg);
    // transform: rotateX(30deg);
    // transform: rotateY(30deg);
    // transform: rotateZ(0deg);

    // transform: translate(100px, 250px);

    // transform: rotate(30deg) translate(100px, 250px);

    
    // transform: scale(2, 1);

    // matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )

    // transform: matrix(1.1, 0, 0, 1.5, 120px, 210px);

    // transform-origin: -100px 0;
    // transition: 1s;
}

.block:hover {
    // transform: skew(30deg, 45deg);
    // transform: matrix(1.1, 0, 0, 1.5, 0, 0);
}



// @keyframes <переменная> { [ from | to | <проценты> ] [, from | to | <проценты> ]* }

@keyframes slide {
    0% { 
        left: 0;
        color: yellowgreen;
    }

    35% {
        transform: scaleX(2);
    }

    50% {
        transform: scaleY(0.75);
    }

    100% { 
        left: 450px;
        transform: scaleX(2);
    }
}

.block {
    // animation: slide;
    // animation-duration: 2s;
    // animation-direction: normal;

    // animation-iteration-count: 5;
    // animation-iteration-count: infinite;
    // animation-delay: 1s;

    // animation-play-state: paused;

    // animation-fill-mode: backwards;
    // animation-fill-mode: forwards;
    // animation-fill-mode: both;
}

.block:hover {
    // animation-play-state: running;
}

// blink example

.blink {	
    animation: blink .5s infinite alternate;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// animation by default

// animation-name: none
// animation-duration: 0s
// animation-timing-function: ease
// animation-delay: 0s
// animation-iteration-count: 1
// animation-direction: normal
// animation-fill-mode: none
// animation-play-state: running


// ---------------------------------

.eye {
    width: 50px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    left: 200px;
    top: 300px;
    animation: eye 0.2s 2 alternate;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    top: calc(50% - 12.5px);
    // left: calc(50% - 12.5px);
    border-radius: 50%;

    animation: circle .1s infinite alternate;
    animation-timing-function: linear;
}

.eye.i-2 {
    left: 300px;   
}

.eye.i-2 .circle {
    animation: circle .1s infinite alternate-reverse;
    animation-timing-function: linear;
}

@keyframes eye {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.1);
    }
}

@keyframes circle {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 25px);
    }
}


.spinner {
    width: 75px;
    height: 75px;
    background-image: url(./hsl.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    animation: rotateInfinite 1s infinite linear;
}

.spinner:hover {
    // animation: rotateInfinite 1s infinite reverse linear;
    // animation-play-state: paused;

    &:after {
        width: 50%;
        height: 50%;  

        left: 25%;
        top: 25%;
    }
}

// .spinner:before {
//     content: "123ews";
// }

.spinner:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    left: 5%;
    top: 5%;

    transition: .5s;
}

@keyframes rotateInfinite {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.border-example {
    background: none;
   text-decoration: inherit;
   font-family: system-ui;
   font-size: 1rem;
   padding: 1rem 2rem;

    width: 200px;
    height: 200px;

    border-image-slice: 1;
    border-width: 2px;
    border-image: linear-gradient(to left, #00C853, #B2FF59);
}